.container {
}

.main {
  padding: 2em;
}

.navbar {
  border-bottom: 1px solid #eee;
}

.navbar .title {
  padding: 0;
  margin: 0.5em;
}

.navbar .title a {
  color: #002;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eee;
  padding: 1em;
  text-align: center;
  opacity: 0.5;
}

.pageSummary {
  padding: 0.5em;
  position: relative;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.edit {
  float: right;
  margin-left: 0.5em;
}